@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Mooli&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Mooli", sans-serif;
  font-family: "Poppins", sans-serif;
}
.link {
  color: rgb(117 117 117);
  cursor: pointer;
  padding: 1rem;
  border-radius: 0.5rem;
  font-weight: 700;
}

:is(.dark .dark\:text-white) {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.link:hover {
  background-color: rgb(224 224 224);
}

.backdrop {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.7);
}
